@import url(./pluse-icon.css);

.card__add-btn {
	cursor: pointer;
	position: relative;
	padding: 0;
	border: 2px solid;
	background-color: transparent;
	width: 150px;
	height: 50px;
	color: #fff;
	transition: 0.3s opacity ease-in;
}

.card__add-btn:hover {
	opacity: 0.6;
	transition: 0.3s opacity ease-in;
}

.card__add-btn:hover .pluse-icon::after {
	transform: rotate(450deg);
}

.card__add-btn:hover .pluse-icon::before {
	transform: rotate(360deg);
}

@media (max-width: 926px) {
	.card__add-btn {
		width: 282px;
	}
}
