@import url(./profile__info.css);
@import url(./profile__add-btn.css);

.profile {
	width: 100%;
	max-width: 880px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 34px 0 40px;
}

@media (max-width: 926px) {
	.profile {
		flex-direction: column;
	}
}
