.user__name {
	font-weight: 500;
	font-size: 42px;
	line-height: 48px;
	padding-bottom: 16px;
}

@media (max-width: 926px) {
	.user__name {
		font-size: 27px;
		line-height: 32px;
		padding-bottom: 14px;
	}
}
