.card__like-btn {
	position: absolute;
	bottom: 12px;
	right: 14px;
	cursor: pointer;
	padding: 0;
	border: none;
	background-color: transparent;
	width: 26px;
	height: 26px;
	transition: 0.3s transform ease-in;
}

.card__like-btn:hover {
	transform: scale(1.3);
	transition: 0.3s transform ease-in;
}
