.popup__save-btn {
	cursor: pointer;
	padding: 0;
	border: 2px solid;
	background-color: #000;
	width: 358px;
	height: 50px;
	color: #fff;
	transition: 0.3s all ease-in;
}

.popup__save-btn:hover {
	color: #000;
	background-color: #fff;
	transition: 0.3s all ease-in;
}
