@import url(./marker__image.css);
@import url(./card__delete-btn.css);
@import url(./card-marker__menu.css);

.card-marker {
	position: absolute;
	top: 8px;
	right: 14px;
	box-sizing: border-box;
	padding: 6px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	background-color: #fff;
	border: 1px solid #f4f4f4b6;
	z-index: 3;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.card-marker:hover > .card-marker__menu {
	height: 60px;
}

.card-marker:hover > .card-marker__menu > .card__delete-btn {
	visibility: visible;
	opacity: 1;
	transition: 0.3s all ease-in;
	transition-delay: 0.4s;
}
